<link href="/css/home.css" rel="stylesheet">

<div class="container">
    {{#if success}}
        <div class="alert alert-success">{{success}}</div>
    {{/if}}

    <div class="jumbotron">
        <h1>Welcome</h1>
        <p>You're logged in.</p>
        <p class="centered">
            <a class="btn btn-lg btn-primary btn-xl" href="/quiz" role="button">Take the quiz</a>
        </p>
    </div>

</div> <!-- /container -->
