<link href="/css/home.css" rel="stylesheet">

<div class="container">

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
    <h1>Are you ready to start coding?</h1>
    <p>Programming is an important part of studying Computer Science and related degrees, which many people struggle with. One of the reasons that people struggle learning to code may be their underdeveloped problem solving skills.</p>
    <p>With this site, you can take quizzes to find out how well you can apply problem sovling skills to programming, and then keep practicing to improve your score!</p>
    <p class="centered">
        <a class="btn btn-lg btn-primary btn-xl" href="/signup" role="button">Sign up</a>
        <a class="btn btn-lg btn-primary btn-xl" href="/login" role="button">Login</a>
    </p>
    </div>

</div> <!-- /container -->
