<div class="container">

    <div class="col-md-6 col-md-offset-3">
        <form action="/signin" method="POST">
            <div class="form-group">
                <label for="emailAddress">Email Address</label>
                <input name="emailAddress" type="email" class="form-control"></input>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input name="password" type="password" class="form-control"></input>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Sign In</button>
            </div>
            {{#if errorMessage}}
                <div class="form-group alert alert-danger">
                    {{errorMessage}}
                </div>
            {{/if}}
        </form>
    </div>
</div> <!-- /container -->