.alert-danger {
    white-space: pre-line;
}

.btn-xl {
    margin-top:1.8em;
    padding: 1em 0 1em 0;
    width: 10em;
}

.jumbotron {
    background-color: rgba(255, 255, 255, 0.9);
}

.centered {
    text-align: center;
}

.right {
    text-align: right;
}

.settings-heading {
    margin-bottom: 0.3em;
}