textarea {
    resize:none;
    min-height: 17em;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

textarea.form-control {
    border-radius:0;
}

.form-control:disabled {
    cursor:default;
}
    
.title-row {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    margin-bottom:0.2em;
}

.question-row {
    padding-left:1em;
    padding-right:1em;
    margin-bottom:1.2em;
}

.output-col {
    padding-left: 0.4em;
}

.section-paginator {
    font-size:1.2em;
    display:inline;
}

.sections {
    display: flex;
    margin-bottom:1em;
}

.sections-header {
    margin-right:.6em;
    float:left;
    margin-top:.4em;
}

.question-col {
    padding:0;
}

.quiz-navigation {
    margin-right: 1em;
}

.quiz-controls {
    margin-top:0.5em;
}

.btn-quiz-control {
    width: 7.6em;
    margin-top:.1em;
    margin-bottom: 1em;
    margin-right: .5em;
    padding: .5em 0 .5em 0;
}

.btn-finish {
    margin-right:1em;
}

.btn-intro {
    margin-left:1.2em;
}

.io-title {
    margin-top:0.4em;
}

.correct-answer {
    color: rgb(0, 230, 0);
}

.incorrect-answer {
    color: red;
}