textarea {
    resize:none;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

.form-control:disabled {
    cursor:default;
}
    
.title-row {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    margin-bottom:0.2em;
}

.question-row {
    margin-bottom:1em;
}

.btn-next-question {
    margin-right:0.7em;
}

.btn-exit-test {
    margin-right:0.5em;    
}

.section-paginator {
    margin-top: 0.1em;
    margin-right: .6em;
    font-size:1.6em;
}

.sections-header {
    margin-right:1.2em;
    margin-top:0em;
}