<link href="/css/home.css" rel="stylesheet">

<div class="container">
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Programming Aptitude Quiz</h1>

        <p>This quiz requires no programming knowledge, you are not expected to know anything about programming.</p>

        <p>Each question has an input and an output column. The input column is code and the output column is what is printed as a result of that code. Each time, the input column will be given for you.</p>

        <p>There will be examples where the output column has been filled in already. The idea of the test is to look at these examples and use what you learn from them to answer the questions.</p>

        <form action="/quiz/new" class="centered" method="POST">
            <button class="btn btn-lg btn-primary btn-xl" role="submit">Take the quiz</button>
        </form>
    </div>

</div> <!-- /container -->
