<div class="container">
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
    <h1>Programming Aptitude Quiz</h1>

    <p>This test requires no programming knowledge and is not a test of any knowledge that you may already possess, it is a test of your logical reasoning.</p>

    <p>Each question has an input and an output column. The input column is ‘code’ and the output column is what is printed as a result of that code. Each time, one column will be given for you, some questions require you to complete the input column and others require you to complete the output column.</p>

    <p>Some questions have both columns filled and serve as examples, the idea of the test is to make logical inferences from these examples and use them to answer the other questions. The test builds on rules inferred from early on and becomes increasingly complex as more concepts are introduced.</p>

    <p class="centered">
        <a class="btn btn-lg btn-primary btn-xl" href="/quiz" role="button">Take the quiz</a>
    </p>
    </div>

</div> <!-- /container -->
