<div class="container">

    <div class="jumbotron">
        <h1>You got <span>{{result}}%</span> of questions correct!</h1>
        <p>The difficulty of the next quiz you take will be based on your performance in this quiz.</p>
        <p>Keep going to see if you can get full marks on the hardest quiz!</p>
        <p class="centered">
            <a class="btn btn-lg btn-primary btn-xl" href="/quiz" role="button">Take another quiz</a>
        </p>
    </div>

</div> <!-- /container -->